.AnnouncementPage_AnnouncementPage {
  position: relative;
  left: 0px;
  top: 0px;
  margin: auto;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background: rgba(255, 255, 255, 1);
}
.AnnouncementPage_AnnouncementPage .Rectangle1 {
  position: absolute;
  right: 0px;
  top: -9px;
  width: 1440px;
  height: 251px;
  background: rgba(7, 53, 30, 1);
}
.AnnouncementPage_AnnouncementPage .Rectangle2 {
  position: absolute;
  left: 0px;
  top: 1449px;
  width: 1440px;
  height: 251px;
  background: rgba(7, 53, 30, 1);
}
.AnnouncementPage_AnnouncementPage .Frame9 {
  position: absolute;
  left: 616px;
  top: 99px;
  width: 665px;
  height: 20px;
  display: flex;
  box-sizing: border-box;
}
.AnnouncementPage_AnnouncementPage .Frame9 .Home {
  position: relative;
  flex: none;
  margin-right: 25px;
  width: 75px;
  height: 20px;
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-size: 25px;
  font-weight: 400;
  line-height: 20px;
}
.AnnouncementPage_AnnouncementPage .Frame9 .Announcements {
  position: relative;
  flex: none;
  margin-right: 25px;
  width: 233px;
  height: 20px;
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-size: 25px;
  font-weight: 400;
  line-height: 20px;
}
.AnnouncementPage_AnnouncementPage .Frame9 .Schedule {
  position: relative;
  flex: none;
  margin-right: 25px;
  width: 134px;
  height: 20px;
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-size: 25px;
  font-weight: 400;
  line-height: 20px;
}
.AnnouncementPage_AnnouncementPage .Frame9 .Employees {
  position: relative;
  flex: none;
  margin-right: 25px;
  width: 148px;
  height: 20px;
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-size: 25px;
  font-weight: 400;
  line-height: 20px;
}
.AnnouncementPage_AnnouncementPage .Screenshot20240326at35932PM2 {
  position: absolute;
  left: 200px;
  top: 0px;
  width: 386px;
  height: 316px;
}
.AnnouncementPage_AnnouncementPage .Screenshot20240326at35932PM2 .Vector {
  position: absolute;
  left: 114.6427001953125px;
  top: 26.358642578125px;
  width: 42.217539258571485%;
  height: 47.30155558525762%;
}
.AnnouncementPage_AnnouncementPage .Screenshot20240326at35932PM2 .Vector_1 {
  position: absolute;
  left: 163.2933349609375px;
  top: 174.63720703125px;
  width: 17.012405395507812%;
  height: 5.301770681067358%;
}
.AnnouncementPage_AnnouncementPage .Screenshot20240326at35932PM2 .Vector_2 {
  position: absolute;
  left: 180.429443359375px;
  top: 196.31298828125px;
  width: 8.124049586953277%;
  height: 2.5267898281918293%;
}
.AnnouncementPage_AnnouncementPage .Screenshot20240326at35932PM2 .Vector_3 {
  position: absolute;
  left: 186.960693359375px;
  top: 105.43603515625px;
  width: 8.654516348567034%;
  height: 15.391582778737515%;
}
.AnnouncementPage_AnnouncementPage .Screenshot20240326at35932PM2 .Vector_4 {
  position: absolute;
  left: 172.702392578125px;
  top: 106.84033203125px;
  width: 1.8076390182416056%;
  height: 2.3328240913680838%;
}
.AnnouncementPage_AnnouncementPage .Screenshot20240326at35932PM2 .Vector_5 {
  position: absolute;
  left: 220.1866455078125px;
  top: 128.97412109375px;
  width: 2.0796249567535874%;
  height: 1.4978307711927197%;
}
.AnnouncementPage_AnnouncementPage .Screenshot20240326at35932PM2 .Vector_6 {
  position: absolute;
  left: 163.998291015625px;
  top: 128.961669921875px;
  width: 2.0351318497731894%;
  height: 1.4824094651620598%;
}
.AnnouncementPage_AnnouncementPage .Screenshot20240326at35932PM2 .Vector_7 {
  position: absolute;
  left: 194.0439453125px;
  top: 97.826904296875px;
  width: 1.1208241467648836%;
  height: 2.6304661473141437%;
}
.AnnouncementPage_AnnouncementPage .Screenshot20240326at35932PM2 .Vector_8 {
  position: absolute;
  left: 212.48876953125px;
  top: 106.89892578125px;
  width: 1.811937470510216%;
  height: 2.313817301882973%;
}
.AnnouncementPage_AnnouncementPage .Screenshot20240326at35932PM2 .S4 {
  position: absolute;
  left: 277.775634765625px;
  top: 154.06396484375px;
  width: 22.563418452603827%;
  height: 14.9466188648079%;
  color: rgba(255, 255, 255, 1);
  font-family: Jacques Francois;
  font-size: 40px;
  font-weight: 400;
  line-height: 30px;
}
.AnnouncementPage_AnnouncementPage .Announcements_1 {
  position: absolute;
  left: 162px;
  top: 316px;
  width: 250px;
  height: 48px;
  color: rgba(0, 0, 0, 1);
  font-family: Inter;
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
}
.AnnouncementPage_AnnouncementPage .Frame1000007427 {
  position: absolute;
  left: 151px;
  top: 401px;
  width: 1119px;
  height: 921px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.AnnouncementPage_AnnouncementPage .Frame1000007427 .Frame1000007424 {
  position: relative;
  flex: none;
  margin-bottom: 37px;
  width: 1032px;
  height: 60px;
  display: flex;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}
.AnnouncementPage_AnnouncementPage
  .Frame1000007427
  .Frame1000007424
  .Frame1000007426 {
  position: relative;
  flex: none;
  margin-right: 10px;
  width: 1012px;
  height: 40px;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}
.AnnouncementPage_AnnouncementPage
  .Frame1000007427
  .Frame1000007424
  .Frame1000007426
  .Filters {
  position: relative;
  flex: none;
  margin-right: 60px;
  width: 64px;
  height: 32px;
  color: rgba(0, 0, 0, 1);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.AnnouncementPage_AnnouncementPage
  .Frame1000007427
  .Frame1000007424
  .Frame1000007426
  .Frame1000007425 {
  position: relative;
  flex: none;
  margin-right: 60px;
  width: 888px;
  height: 40px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
.AnnouncementPage_AnnouncementPage
  .Frame1000007427
  .Frame1000007424
  .Frame1000007426
  .Frame1000007425
  ._04Dropdown {
  position: relative;
  flex: none;
  margin-right: 40px;
  width: 140px;
  height: 40px;
  display: flex;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  box-sizing: border-box;
  align-items: center;
  background: rgba(120, 222, 159, 1);
  border-radius: 8px;
  border: 1px solid
    rgba(224.000001847744, 224.000001847744, 224.000001847744, 1);
  box-sizing: border-box;
}
.AnnouncementPage_AnnouncementPage
  .Frame1000007427
  .Frame1000007424
  .Frame1000007426
  .Frame1000007425
  ._04Dropdown
  .Label {
  position: relative;
  flex: none;
  margin-right: 16px;
  width: 68px;
  height: 24px;
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.AnnouncementPage_AnnouncementPage
  .Frame1000007427
  .Frame1000007424
  .Frame1000007426
  .Frame1000007425
  ._04Dropdown
  .chevrondown {
  position: relative;
  flex: none;
  margin-right: 16px;
  width: 24px;
  height: 24px;
}
.AnnouncementPage_AnnouncementPage
  .Frame1000007427
  .Frame1000007424
  .Frame1000007426
  .Frame1000007425
  ._04Dropdown
  .chevrondown
  .Vector_9 {
  position: absolute;
  left: 6px;
  top: 9px;
  width: 50%;
  height: 25%;
}
.AnnouncementPage_AnnouncementPage
  .Frame1000007427
  .Frame1000007424
  .Frame1000007426
  .Frame1000007425
  ._04Dropdown_1 {
  position: relative;
  flex: none;
  margin-right: 40px;
  width: 140px;
  height: 40px;
  display: flex;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  box-sizing: border-box;
  align-items: center;
  background: rgba(120, 222, 159, 1);
  border-radius: 8px;
  border: 1px solid
    rgba(224.000001847744, 224.000001847744, 224.000001847744, 1);
  box-sizing: border-box;
}
.AnnouncementPage_AnnouncementPage
  .Frame1000007427
  .Frame1000007424
  .Frame1000007426
  .Frame1000007425
  ._04Dropdown_1
  .Label_1 {
  position: relative;
  flex: none;
  margin-right: 16px;
  width: 68px;
  height: 24px;
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.AnnouncementPage_AnnouncementPage
  .Frame1000007427
  .Frame1000007424
  .Frame1000007426
  .Frame1000007425
  ._04Dropdown_1
  .chevrondown_1 {
  position: relative;
  flex: none;
  margin-right: 16px;
  width: 24px;
  height: 24px;
}
.AnnouncementPage_AnnouncementPage
  .Frame1000007427
  .Frame1000007424
  .Frame1000007426
  .Frame1000007425
  ._04Dropdown_1
  .chevrondown_1
  .Vector_10 {
  position: absolute;
  left: 6px;
  top: 9px;
  width: 50%;
  height: 25%;
}
.AnnouncementPage_AnnouncementPage
  .Frame1000007427
  .Frame1000007424
  .Frame1000007426
  .Frame1000007425
  ._04Dropdown_2 {
  position: relative;
  flex: none;
  margin-right: 40px;
  width: 155px;
  height: 40px;
  display: flex;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  box-sizing: border-box;
  align-items: center;
  background: rgba(120, 222, 159, 1);
  border-radius: 8px;
  border: 1px solid
    rgba(224.000001847744, 224.000001847744, 224.000001847744, 1);
  box-sizing: border-box;
  z-index: 2;
}
.AnnouncementPage_AnnouncementPage
  .Frame1000007427
  .Frame1000007424
  .Frame1000007426
  .Frame1000007425
  ._04Dropdown_2
  .Label_2 {
  position: relative;
  flex: none;
  margin-right: 16px;
  width: 83px;
  height: 24px;
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  z-index: 2;
}
.AnnouncementPage_AnnouncementPage
  .Frame1000007427
  .Frame1000007424
  .Frame1000007426
  .Frame1000007425
  ._04Dropdown_2
  .chevrondown_2 {
  position: relative;
  flex: none;
  margin-right: 16px;
  width: 24px;
  height: 24px;
  z-index: 2;
}
.AnnouncementPage_AnnouncementPage
  .Frame1000007427
  .Frame1000007424
  .Frame1000007426
  .Frame1000007425
  ._04Dropdown_2
  .chevrondown_2
  .Vector_11 {
  position: absolute;
  left: 6px;
  top: 9px;
  width: 50%;
  height: 25%;
  z-index: 2;
}
.AnnouncementPage_AnnouncementPage
  .Frame1000007427
  .Frame1000007424
  .Frame1000007426
  .Frame1000007425
  ._04Dropdown_3 {
  position: relative;
  flex: none;
  margin-right: 40px;
  width: 140px;
  height: 40px;
  display: flex;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  box-sizing: border-box;
  align-items: center;
  background: rgba(120, 222, 159, 1);
  border-radius: 8px;
  border: 1px solid
    rgba(224.000001847744, 224.000001847744, 224.000001847744, 1);
  box-sizing: border-box;
  z-index: 2;
}
.AnnouncementPage_AnnouncementPage
  .Frame1000007427
  .Frame1000007424
  .Frame1000007426
  .Frame1000007425
  ._04Dropdown_3
  .Label_3 {
  position: relative;
  flex: none;
  margin-right: 16px;
  width: 68px;
  height: 24px;
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  z-index: 2;
}
.AnnouncementPage_AnnouncementPage
  .Frame1000007427
  .Frame1000007424
  .Frame1000007426
  .Frame1000007425
  ._04Dropdown_3
  .chevrondown_3 {
  position: relative;
  flex: none;
  margin-right: 16px;
  width: 24px;
  height: 24px;
  z-index: 2;
}
.AnnouncementPage_AnnouncementPage
  .Frame1000007427
  .Frame1000007424
  .Frame1000007426
  .Frame1000007425
  ._04Dropdown_3
  .chevrondown_3
  .Vector_12 {
  position: absolute;
  left: 6px;
  top: 9px;
  width: 50%;
  height: 25%;
  z-index: 2;
}
.AnnouncementPage_AnnouncementPage
  .Frame1000007427
  .Frame1000007424
  .Frame1000007426
  .Frame1000007425
  ._04Dropdown_4 {
  position: relative;
  flex: none;
  margin-right: 40px;
  width: 153px;
  height: 40px;
  display: flex;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  box-sizing: border-box;
  align-items: center;
  background: rgba(120, 222, 159, 1);
  border-radius: 8px;
  border: 1px solid
    rgba(224.000001847744, 224.000001847744, 224.000001847744, 1);
  box-sizing: border-box;
  z-index: 2;
}
.AnnouncementPage_AnnouncementPage
  .Frame1000007427
  .Frame1000007424
  .Frame1000007426
  .Frame1000007425
  ._04Dropdown_4
  .Label_4 {
  position: relative;
  flex: none;
  margin-right: 16px;
  width: 81px;
  height: 24px;
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  z-index: 2;
}
.AnnouncementPage_AnnouncementPage
  .Frame1000007427
  .Frame1000007424
  .Frame1000007426
  .Frame1000007425
  ._04Dropdown_4
  .chevrondown_4 {
  position: relative;
  flex: none;
  margin-right: 16px;
  width: 24px;
  height: 24px;
}
.AnnouncementPage_AnnouncementPage
  .Frame1000007427
  .Frame1000007424
  .Frame1000007426
  .Frame1000007425
  ._04Dropdown_4
  .chevrondown_4
  .Vector_13 {
  position: absolute;
  left: 6px;
  top: 9px;
  width: 50%;
  height: 25%;
  z-index: 2;
}
.AnnouncementPage_AnnouncementPage .Frame1000007427 .MessageArea {
  position: relative;
  flex: none;
  margin-bottom: 37px;
  width: 1119px;
  height: 824px;
  color: rgba(0, 0, 0, 1);
  font-family: Inter;
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
}
.AnnouncementsContainer {
  position: absolute;
  top: calc(100% - 40px);
  width: 100%;
}

