
.day_day {
	width: 55px;
	height: 60px;
	display: flex;
	padding-top: 3px;
	padding-bottom: 3px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	background: rgba(255,255,255,1.00);
}