
.DemoTesting_DemoTesting {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(255,255,255,1.00);
}
.DemoTesting_DemoTesting .FormField {
	position: absolute;
	left: 47.519999999999996px;
	top: 105.92999999999999px;
	width: 291.06px;
	height: 158.4px;
	border-radius: 4.95px;
	border: 1px solid rgba(151.00000619888306,71.00000336766243,255,1);
	box-sizing: border-box;
}
.DemoTesting_DemoTesting .FormField .Property1Default {
	width: 254px;
	height: 44px;
}
.DemoTesting_DemoTesting .FormField .Property1Default .Left {
	position: absolute;
	left: 0.0000591278076171875px;
	top: 0px;
	width: 10.126586223211815%;
	height: 100%;
	border-radius: 8px;
}
.DemoTesting_DemoTesting .FormField .Property1Default .Right {
	position: absolute;
	left: 228.27853393554688px;
	top: 0px;
	width: 10.126586223211815%;
	height: 100%;
	border-radius: 8px;
}
.DemoTesting_DemoTesting .FormField .Property1Default .DefaultLabel {
	position: absolute;
	left: 31.75px;
	top: 9.023529052734375px;
	width: 41.12903264563854%;
	height: 54.687998511574484%;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
}
.DemoTesting_DemoTesting .FormField .Property1Default .TopLine {
	position: absolute;
	left: 25.721588134765625px;
	top: 0px;
	width: 80.37977443905328%;
	height: 0%;
}
.DemoTesting_DemoTesting .FormField .Property1Default .BottomLine {
	position: absolute;
	left: 20.898773193359375px;
	top: 44px;
	width: 81.64565919891118%;
	height: 0%;
}
.DemoTesting_DemoTesting .FormField .Property1Variant2 {
	width: 248px;
	height: 43.88531494140625px;
}
.DemoTesting_DemoTesting .FormField .Property1Variant2 .Left_1 {
	position: absolute;
	left: 0.000080108642578125px;
	top: 0px;
	width: 10.126586114206622%;
	height: 100%;
	border-radius: 8px;
}
.DemoTesting_DemoTesting .FormField .Property1Variant2 .Right_1 {
	position: absolute;
	left: 222.88613891601562px;
	top: 0px;
	width: 10.126586114206622%;
	height: 100%;
	border-radius: 8px;
}
.DemoTesting_DemoTesting .FormField .Property1Variant2 .DefaultLabel_1 {
	position: absolute;
	left: 31px;
	top: 9px;
	width: 41.12903225806452%;
	height: 54.687997641224065%;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
}
.DemoTesting_DemoTesting .FormField .Property1Variant2 .TopLine_1 {
	position: absolute;
	left: 25.114013671875px;
	top: 0px;
	width: 80.37977526264805%;
	height: 0%;
}
.DemoTesting_DemoTesting .FormField .Property1Variant2 .BottomLine_1 {
	position: absolute;
	left: 20.405120849609375px;
	top: 43.88531494140625px;
	width: 81.64565793929562%;
	height: 0%;
}
.DemoTesting_DemoTesting ._00Button {
	position: absolute;
	left: 626.67px;
	top: 318.78px;
	width: 158.4px;
	height: 51.48px;
	display: flex;
	padding-top: 13.86px;
	padding-right: 23.759999999999998px;
	padding-bottom: 13.86px;
	padding-left: 23.759999999999998px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	background: rgba(120,222,159,1.00);
	border-radius: 7.92px;
}
.DemoTesting_DemoTesting ._00Button .Button {
	position: relative;
	flex: none;
	margin-right: 7.92px;
	width: 50.49px;
	height: 23.759999999999998px;
	display: flex;
	align-items: center;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 15.84px;
	font-weight: 500;
	line-height: 23.759999999999998px;
}
.DemoTesting_DemoTesting ._04Dropdown {
	position: absolute;
	left: 626.67px;
	top: 417.78px;
	width: 205.92px;
	height: 39.6px;
	display: flex;
	padding-top: 7.92px;
	padding-right: 15.84px;
	padding-bottom: 7.92px;
	padding-left: 15.84px;
	box-sizing: border-box;
	align-items: center;
	background: rgba(120,222,159,1.00);
	border-radius: 7.92px;
	border: 1px solid rgba(224.000001847744,224.000001847744,224.000001847744,1);
	box-sizing: border-box;
}
.DemoTesting_DemoTesting ._04Dropdown .Label {
	position: relative;
	flex: none;
	margin-right: 15.84px;
	width: 134.64px;
	height: 23.759999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 15.84px;
	font-weight: 400;
	line-height: 23.759999999999998px;
}
.DemoTesting_DemoTesting ._04Dropdown .chevrondown {
	position: relative;
	flex: none;
	margin-right: 15.84px;
	width: 23.759999999999998px;
	height: 23.759999999999998px;
}
.DemoTesting_DemoTesting ._04Dropdown .chevrondown .Vector {
	position: absolute;
	left: 5.9399999999999995px;
	top: 8.91px;
	width: 50%;
	height: 25%;
}
.DemoTesting_DemoTesting .Field {
	position: absolute;
	left: 626.67px;
	top: 504.9px;
	width: 396px;
	height: 39.6px;
	display: flex;
	padding-top: 7.92px;
	padding-right: 15.84px;
	padding-bottom: 7.92px;
	padding-left: 15.84px;
	box-sizing: border-box;
	align-items: center;
	background: rgba(255,255,255,1.00);
	border-radius: 7.92px;
	border: 1px solid rgba(224.000001847744,224.000001847744,224.000001847744,1);
	box-sizing: border-box;
}
.DemoTesting_DemoTesting .Field .Label_1 {
	position: relative;
	flex: none;
	margin-right: 15.84px;
	width: 364.32px;
	height: 29.7px;
	color: rgba(130,130,130,1.00);
	font-family: Inter;
	font-size: 19.8px;
	font-weight: 500;
	line-height: 29.7px;
}
.DemoTesting_DemoTesting .Frame1 {
	position: absolute;
	left: 353.43px;
	top: 653.4px;
	width: 443.52px;
	height: 158.4px;
	border-radius: 4.95px;
	border: 1px solid rgba(151.00000619888306,71.00000336766243,255,1);
	box-sizing: border-box;
}
.DemoTesting_DemoTesting .Frame1 .Property1Default_1 {
	width: 408px;
	height: 50px;
	display: flex;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
	border-radius: 9px;
	border: 2px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.DemoTesting_DemoTesting .Frame1 .Property1Default_1 .Input {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 388px;
	height: 32px;
	color: rgba(0,0,0,0.50);
	font-family: Inter;
	font-size: 20px;
	font-weight: 400;
	line-height: 32px;
}
.DemoTesting_DemoTesting .Frame1 .Property1Input {
	width: 408px;
	height: 50px;
	display: flex;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
	border-radius: 9px;
	border: 2px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.DemoTesting_DemoTesting .Frame1 .Property1Input .Text {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 0px;
	height: 32px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 20px;
	font-weight: 400;
	line-height: 32px;
}
.DemoTesting_DemoTesting .Checkbox {
	position: absolute;
	left: 122.76px;
	top: 402.93px;
	width: 250.47px;
	height: 136.62px;
	border-radius: 12.237082271575927px;
	border: 2.472137689590454px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.DemoTesting_DemoTesting .Checkbox .CheckedFalse {
	width: 40px;
	height: 40px;
}
.DemoTesting_DemoTesting .Checkbox .CheckedFalse .Rectangle {
	position: absolute;
	left: 0.44580078125px;
	top: 0.4472694396972656px;
	width: 40px;
	height: 40px;
	border-radius: 6px;
	border: 2px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.DemoTesting_DemoTesting .Checkbox .CheckedTrue {
	width: 40px;
	height: 40px;
}
.DemoTesting_DemoTesting .Checkbox .CheckedTrue .check {
	position: absolute;
	left: 0px;
	top: 0.000171661376953125px;
	width: 100%;
	height: 100%;
}