
.LandingPage_LandingPage {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(255,255,255,1.00);
}
.LandingPage_LandingPage .TopBar {
	position: absolute;
	right: 0px;
	top: -9px;
	width: 1440px;

	height: 400px;
	background: rgba(7,53,30,1.00);
}
.LandingPage_LandingPage .BottomBar {
	position: absolute;
	left: 0px;
	top: 1449px;
	width: 1440px;

	height: 251px;
	background: rgba(7,53,30,1.00);
}
.LandingPage_LandingPage .NavBar {
	position: absolute;
	left: 616px;
	top: 99px;
	width: 665px;
	height: 20px;
	display: flex;
	box-sizing: border-box;
}
.LandingPage_LandingPage .NavBar .Home {
	position: relative;
	flex: none;
	margin-right: 25px;
	width: 75px;
	height: 20px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 25px;
	font-weight: 400;
	line-height: 20px;
}
.LandingPage_LandingPage .NavBar .Announcements {
	position: relative;
	flex: none;
	margin-right: 25px;
	width: 233px;
	height: 20px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 25px;
	font-weight: 400;
	line-height: 20px;
}
.LandingPage_LandingPage .NavBar .Schedule {
	position: relative;
	flex: none;
	margin-right: 25px;
	width: 134px;
	height: 20px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 25px;
	font-weight: 400;
	line-height: 20px;
}
.LandingPage_LandingPage .NavBar .Employees {
	position: relative;
	flex: none;
	margin-right: 25px;
	width: 148px;
	height: 20px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 25px;
	font-weight: 400;
	line-height: 20px;
}
.LandingPage_LandingPage .S4Description {
	position: absolute;
	left: 323px;
	top: 758px;
	width: 796px;
	height: 206px;
	display: flex;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
}
.LandingPage_LandingPage .S4Purpose {
	position: absolute;
	left: 323px;
	top: 1054px;
	width: 796px;
	height: 188px;
	display: flex;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
}
.LandingPage_LandingPage .TextDisplay {
	position: absolute;
	left: 235px;
	top: 517px;
	width: 971px;
	height: 726px;
	display: flex;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
}
.LandingPage_LandingPage .TextDisplay .S4Explanation {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 951px;
	height: 706px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
}
.LandingPage_LandingPage .TextDisplay .S4Explanation .ScheduleWithEase {
	position: relative;
	flex: none;
	margin-bottom: 120px;
	width: 951px;
	height: 112px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Playfair Display;
	font-size: 100px;
	font-weight: 400;
	line-height: 112px;
}
.LandingPage_LandingPage .TextDisplay .S4Explanation .S4isaschedulingsoftwarethatallowsfortheeasycreationofschedulesforyouremployeesthroughanautogeneratingformulabasedoffofthedatayougiveus {
	position: relative;
	flex: none;
	margin-bottom: 120px;
	width: 776px;
	height: 186px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Playfair Display;
	font-size: 30px;
	font-weight: 400;
	line-height: 62px;
}
.LandingPage_LandingPage .TextDisplay .S4Explanation .S4makesitschedulingandviewingscheduleseasytouseforallusersfromthosewhocreateschedulestothosewhoworkthem {
	position: relative;
	flex: none;
	margin-bottom: 120px;
	width: 776px;
	height: 168px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Playfair Display;
	font-size: 30px;
	font-weight: 400;
	line-height: 56px;
}
.LandingPage_LandingPage .LogInSignUp {
	position: absolute;
	left: 1108px;
	top: 260px;
	width: 242px;
	height: 39px;
	display: flex;
	box-sizing: border-box;
}
.LandingPage_LandingPage .LogInSignUp .LogInButton {
	position: relative;
	flex: none;
	margin-right: 28px;
	width: 107px;
	height: 39px;
	display: flex;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	background: rgba(120,222,159,1.00);
}
.LandingPage_LandingPage .LogInSignUp .LogInButton .LogIn {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 107px;
	height: 43px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(255,255,255,1.00);
	font-family: Playfair Display;
	font-size: 24px;
	font-weight: 400;
	line-height: 112px;
}
.LandingPage_LandingPage .LogInSignUp .SignUpButton {
	position: relative;
	flex: none;
	margin-right: 28px;
	width: 107px;
	height: 39px;
	display: flex;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	background: rgba(120,222,159,1.00);
}
.LandingPage_LandingPage .LogInSignUp .SignUpButton .SignUp {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 107px;
	height: 43px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(255,255,255,1.00);
	font-family: Playfair Display;
	font-size: 24px;
	font-weight: 400;
	line-height: 112px;
}
.LandingPage_LandingPage .Logo {
	position: absolute;
	left: -58px;
	top: -21px;
	width: 749px;
	height: 562px;
}
.LandingPage_LandingPage .Logo .Vector {
	position: absolute;
	left: 222.45440673828125px;
	top: 46.878143310546875px;
	width: 42.21754086829314%;
	height: 47.30155646164646%;
}
.LandingPage_LandingPage .Logo .Vector_1 {
	position: absolute;
	left: 316.85675048828125px;
	top: 310.589111328125px;
	width: 17.01240590481319%;
	height: 5.301770790615964%;
}
.LandingPage_LandingPage .Logo .Vector_2 {
	position: absolute;
	left: 350.10784912109375px;
	top: 349.1390686035156px;
	width: 8.124049738029612%;
	height: 2.5267897975826603%;
}
.LandingPage_LandingPage .Logo .Vector_3 {
	position: absolute;
	left: 362.78118896484375px;
	top: 187.51580810546875px;
	width: 8.654516243011514%;
	height: 15.39158261119259%;
}
.LandingPage_LandingPage .Logo .Vector_4 {
	position: absolute;
	left: 335.1141052246094px;
	top: 190.0135498046875px;
	width: 1.807638990863143%;
	height: 2.3328241504384106%;
}
.LandingPage_LandingPage .Logo .Vector_5 {
	position: absolute;
	left: 427.2532958984375px;
	top: 229.37786865234375px;
	width: 2.079624996007046%;
	height: 1.4978306997713247%;
}
.LandingPage_LandingPage .Logo .Vector_6 {
	position: absolute;
	left: 318.22454833984375px;
	top: 229.35586547851562px;
	width: 2.035131823714171%;
	height: 1.4824095145663332%;
}
.LandingPage_LandingPage .Logo .Vector_7 {
	position: absolute;
	left: 376.5257263183594px;
	top: 173.98318481445312px;
	width: 1.1208241390131504%;
	height: 2.63046607428174%;
}
.LandingPage_LandingPage .Logo .Vector_8 {
	position: absolute;
	left: 412.31634521484375px;
	top: 190.11761474609375px;
	width: 1.81193752823589%;
	height: 2.3138173534352586%;
}
.LandingPage_LandingPage .Logo .S4 {
	position: absolute;
	left: 539px;
	top: 274px;
	width: 22.563417890520697%;
	height: 14.94661921708185%;
	color: rgba(255,255,255,1.00);
	font-family: Jacques Francois;
	font-size: 120px;
	font-weight: 400;
	line-height: 30px;
}