
.Property1Default_Property1Default {
	width: 408px;
	height: 50px;
	display: flex;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
	border-radius: 9px;
	border: 2px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.Property1Default_Property1Default .Input {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 388px;
	height: 32px;
	color: rgba(0,0,0,0.50);
	font-family: Inter;
	font-size: 20px;
	font-weight: 400;
	line-height: 32px;
}