
.Property1Default_1_Property1Default {
	width: 254px;
	height: 44px;
}
.Property1Default_1_Property1Default .Left {
	position: absolute;
	left: 0.0000591278076171875px;
	top: 0px;
	width: 10.126586223211815%;
	height: 100%;
	border-radius: 8px;
}
.Property1Default_1_Property1Default .Right {
	position: absolute;
	left: 228.27853393554688px;
	top: 0px;
	width: 10.126586223211815%;
	height: 100%;
	border-radius: 8px;
}
.Property1Default_1_Property1Default .DefaultLabel {
	position: absolute;
	left: 31.75px;
	top: 9.023529052734375px;
	width: 41.12903264563854%;
	height: 54.687998511574484%;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
}
.Property1Default_1_Property1Default .TopLine {
	position: absolute;
	left: 25.721588134765625px;
	top: 0px;
	width: 80.37977443905328%;
	height: 0%;
}
.Property1Default_1_Property1Default .BottomLine {
	position: absolute;
	left: 20.898773193359375px;
	top: 44px;
	width: 81.64565919891118%;
	height: 0%;
}