.ShiftTradePage_ShiftTradePage {
  position: relative;
  left: 0px;
  top: 0px;
  margin: auto;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background: rgba(255, 255, 255, 1);
}
.ShiftTradePage_ShiftTradePage .TopBar {
  position: absolute;
  right: 0px;
  top: -9px;
  width: 1440px;
  height: 251px;
  background: rgba(7, 53, 30, 1);
}
.ShiftTradePage_ShiftTradePage .BottomBar {
  position: absolute;
  left: 0px;
  top: 1449px;
  width: 1440px;
  height: 251px;
  background: rgba(7, 53, 30, 1);
}
.ShiftTradePage_ShiftTradePage .NavBar {
  position: absolute;
  left: 616px;
  top: 99px;
  width: 665px;
  height: 20px;
  display: flex;
  box-sizing: border-box;
}
.ShiftTradePage_ShiftTradePage .NavBar .Home {
  position: relative;
  flex: none;
  margin-right: 25px;
  width: 75px;
  height: 20px;
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-size: 25px;
  font-weight: 400;
  line-height: 20px;
}
.ShiftTradePage_ShiftTradePage .NavBar .Announcements {
  position: relative;
  flex: none;
  margin-right: 25px;
  width: 233px;
  height: 20px;
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-size: 25px;
  font-weight: 400;
  line-height: 20px;
}
.ShiftTradePage_ShiftTradePage .NavBar .Schedule {
  position: relative;
  flex: none;
  margin-right: 25px;
  width: 134px;
  height: 20px;
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-size: 25px;
  font-weight: 400;
  line-height: 20px;
}
.ShiftTradePage_ShiftTradePage .NavBar .Employees {
  position: relative;
  flex: none;
  margin-right: 25px;
  width: 148px;
  height: 20px;
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-size: 25px;
  font-weight: 400;
  line-height: 20px;
}
.ShiftTradePage_ShiftTradePage .RequestShiftTrade {
  position: absolute;
  left: 54.30555555555555%;
  top: 440px;
  transform: translate(-50%, 0);
  width: 234px;
  height: 20px;
  color: rgba(0, 0, 0, 1);
  font-family: Inter;
  font-size: 25px;
  font-weight: 400;
  line-height: 20px;
}
.ShiftTradePage_ShiftTradePage .Logo {
  position: absolute;
  left: 200px;
  top: 0px;
  width: 386px;
  height: 316px;
}
.ShiftTradePage_ShiftTradePage .Logo .Vector {
  position: absolute;
  left: 114.642822265625px;
  top: 26.358642578125px;
  width: 42.217539258571485%;
  height: 47.30155558525762%;
}
.ShiftTradePage_ShiftTradePage .Logo .Vector_1 {
  position: absolute;
  left: 163.29345703125px;
  top: 174.63720703125px;
  width: 17.012405395507812%;
  height: 5.301770681067358%;
}
.ShiftTradePage_ShiftTradePage .Logo .Vector_2 {
  position: absolute;
  left: 180.429443359375px;
  top: 196.31298828125px;
  width: 8.124049586953277%;
  height: 2.5267898281918293%;
}
.ShiftTradePage_ShiftTradePage .Logo .Vector_3 {
  position: absolute;
  left: 186.960693359375px;
  top: 105.43603515625px;
  width: 8.654516348567034%;
  height: 15.391582778737515%;
}
.ShiftTradePage_ShiftTradePage .Logo .Vector_4 {
  position: absolute;
  left: 172.702392578125px;
  top: 106.84033203125px;
  width: 1.8076390182416056%;
  height: 2.3328240913680838%;
}
.ShiftTradePage_ShiftTradePage .Logo .Vector_5 {
  position: absolute;
  left: 220.1865234375px;
  top: 128.97412109375px;
  width: 2.0796249567535874%;
  height: 1.4978307711927197%;
}
.ShiftTradePage_ShiftTradePage .Logo .Vector_6 {
  position: absolute;
  left: 163.998291015625px;
  top: 128.961669921875px;
  width: 2.0351318497731894%;
  height: 1.4824094651620598%;
}
.ShiftTradePage_ShiftTradePage .Logo .Vector_7 {
  position: absolute;
  left: 194.0439453125px;
  top: 97.826904296875px;
  width: 1.1208241467648836%;
  height: 2.6304661473141437%;
}
.ShiftTradePage_ShiftTradePage .Logo .Vector_8 {
  position: absolute;
  left: 212.48876953125px;
  top: 106.89892578125px;
  width: 1.811937470510216%;
  height: 2.313817301882973%;
}
.ShiftTradePage_ShiftTradePage .Logo .S4 {
  position: absolute;
  left: 277.775634765625px;
  top: 154.06396484375px;
  width: 22.563418452603827%;
  height: 14.9466188648079%;
  color: rgba(255, 255, 255, 1);
  font-family: Jacques Francois;
  font-size: 40px;
  font-weight: 400;
  line-height: 30px;
}
.ShiftTradePage_ShiftTradePage .BackButton {
  position: absolute;
  left: 160px;
  top: 414px;
  width: 160px;
  height: 52px;
  display: flex;
  padding-top: 14px;
  padding-right: 24px;
  padding-bottom: 14px;
  padding-left: 24px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  background: rgba(120, 222, 159, 1);
  border-radius: 8px;
}
.ShiftTradePage_ShiftTradePage .BackButton .Back {
  position: relative;
  flex: none;
  margin-right: 8px;
  width: 38px;
  height: 24px;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.ShiftTradePage_ShiftTradePage .TradeDisplay {
  position: absolute;
  left: 255px;
  top: 531px;
  width: 518px;
  height: 317px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.ShiftTradePage_ShiftTradePage .TradeDisplay .TradeArea {
  position: relative;
  flex: none;
  margin-bottom: 53px;
  width: 518px;
  height: 212px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
.ShiftTradePage_ShiftTradePage .TradeDisplay .TradeArea .TradeInputIndicators {
  position: relative;
  flex: none;
  margin-right: 25px;
  width: 85px;
  height: 174px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.ShiftTradePage_ShiftTradePage .TradeDisplay .TradeArea .TradeInput {
  position: relative;
  flex: none;
  margin-right: 25px;
  width: 408px;
  height: 212px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-end;
}

.ShiftTradePage_ShiftTradePage .TradeDisplay .TradeButton {
  position: relative;
  flex: none;
  margin-bottom: 53px;
  width: 160px;
  height: 52px;
  display: flex;
  padding-top: 14px;
  padding-right: 24px;
  padding-bottom: 14px;
  padding-left: 24px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  background: rgba(120, 222, 159, 1);
  border-radius: 8px;
}
.ShiftTradePage_ShiftTradePage .TradeDisplay .TradeButton .Request {
  position: relative;
  flex: none;
  margin-right: 8px;
  width: 63px;
  height: 24px;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
