
.SignIn_SignIn {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(255,255,255,1.00);
}
.SignIn_SignIn .TopBar {
	position: absolute;
	right: 0px;
	top: -9px;
	width: 100%;
	height: 251px;
	background: rgba(7,53,30,1.00);
}
.SignIn_SignIn .BottomBar {
	position: absolute;
	left: 0px;
	top: 1449px;
	width: 100%;
	height: 251px;
	background: rgba(7,53,30,1.00);
}
.SignIn_SignIn .NavBar {
	position: absolute;
	left: 616px;
	top: 99px;
	width: 665px;
	height: 20px;
	display: flex;
	box-sizing: border-box;
}
.SignIn_SignIn .NavBar .Home {
	position: relative;
	flex: none;
	margin-right: 25px;
	width: 75px;
	height: 20px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 25px;
	font-weight: 400;
	line-height: 20px;
}
.SignIn_SignIn .NavBar .Announcements {
	position: relative;
	flex: none;
	margin-right: 25px;
	width: 233px;
	height: 20px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 25px;
	font-weight: 400;
	line-height: 20px;
}
.SignIn_SignIn .NavBar .Schedule {
	position: relative;
	flex: none;
	margin-right: 25px;
	width: 134px;
	height: 20px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 25px;
	font-weight: 400;
	line-height: 20px;
}
.SignIn_SignIn .NavBar .Employees {
	position: relative;
	flex: none;
	margin-right: 25px;
	width: 148px;
	height: 20px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 25px;
	font-weight: 400;
	line-height: 20px;
}
.SignIn_SignIn .Logo {
	position: absolute;
	left: 200px;
	top: 0px;
	width: 386px;
	height: 316px;
}
.SignIn_SignIn .Logo .Vector {
	position: absolute;
	left: 114.64273071289062px;
	top: 26.358642578125px;
	width: 42.217539258571485%;
	height: 47.30155558525762%;
}
.SignIn_SignIn .Logo .Vector_1 {
	position: absolute;
	left: 163.2933349609375px;
	top: 174.63720703125px;
	width: 17.012405395507812%;
	height: 5.301770681067358%;
}
.SignIn_SignIn .Logo .Vector_2 {
	position: absolute;
	left: 180.42941284179688px;
	top: 196.31298828125px;
	width: 8.124049586953277%;
	height: 2.5267898281918293%;
}
.SignIn_SignIn .Logo .Vector_3 {
	position: absolute;
	left: 186.96066284179688px;
	top: 105.43603515625px;
	width: 8.654516348567034%;
	height: 15.391582778737515%;
}
.SignIn_SignIn .Logo .Vector_4 {
	position: absolute;
	left: 172.70233154296875px;
	top: 106.84033203125px;
	width: 1.8076390182416056%;
	height: 2.3328240913680838%;
}
.SignIn_SignIn .Logo .Vector_5 {
	position: absolute;
	left: 220.18661499023438px;
	top: 128.97412109375px;
	width: 2.0796249567535874%;
	height: 1.4978307711927197%;
}
.SignIn_SignIn .Logo .Vector_6 {
	position: absolute;
	left: 163.99822998046875px;
	top: 128.961669921875px;
	width: 2.0351318497731894%;
	height: 1.4824094651620598%;
}
.SignIn_SignIn .Logo .Vector_7 {
	position: absolute;
	left: 194.04396057128906px;
	top: 97.826904296875px;
	width: 1.1208241467648836%;
	height: 2.6304661473141437%;
}
.SignIn_SignIn .Logo .Vector_8 {
	position: absolute;
	left: 212.48880004882812px;
	top: 106.89892578125px;
	width: 1.811937470510216%;
	height: 2.313817301882973%;
}
.SignIn_SignIn .Logo .S4 {
	position: absolute;
	left: 277.77569580078125px;
	top: 154.06396484375px;
	width: 22.563418452603827%;
	height: 14.9466188648079%;
	color: rgba(255,255,255,1.00);
	font-family: Jacques Francois;
	font-size: 40px;
	font-weight: 400;
	line-height: 30px;
}
.SignIn_SignIn .SignIn_1 {
	position: absolute;
	left: 50%;
	top: 369px;
	transform: translate(-50%, 0);
	width: 104px;
	height: 48px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 32px;
	font-weight: 500;
	line-height: 48px;
}
.SignIn_SignIn .SignInDisplay {
	position: absolute;
	left: 350px;
	top: 497px;
	width: 574px;
	height: 275px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	align-items: flex-end;
}
.SignIn_SignIn .SignInDisplay .SignInArea {
	position: relative;
	flex: none;
	margin-bottom: 80px;
	width: 574px;
	height: 143px;
	display: flex;
	box-sizing: border-box;
	align-items: center;
}
.SignIn_SignIn .SignInDisplay .SignInArea .InputSpecifier {
	position: relative;
	flex: none;
	margin-right: 86px;
	width: 80px;
	height: 124px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.SignIn_SignIn .SignInDisplay .SignInArea .InputSpecifier .Email {
	position: relative;
	flex: none;
	margin-bottom: 62px;
	width: 79px;
	height: 38px;
	display: flex;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
}
.SignIn_SignIn .SignInDisplay .SignInArea .InputSpecifier .Password {
	position: relative;
	flex: none;
	margin-bottom: 62px;
	width: 80px;
	height: 24px;
	display: flex;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
}
.SignIn_SignIn .SignInDisplay .SignInArea .InputArea {
	position: relative;
	flex: none;
	margin-right: 86px;
	width: 408px;
	height: 143px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.SignIn_SignIn .SignInDisplay .SignInArea .InputArea .EmailInput {
	position: relative;
	flex: none;
	margin-bottom: 51px;
	height: 40px;
	font-size: large;
	border: 2px solid rgba(0,0,0,1);
}
.SignIn_SignIn .SignInDisplay .SignInArea .InputArea .EmailInput .Input {
	font-weight: 400;
}
.SignIn_SignIn .SignInDisplay .SignInArea .InputArea .PasswordInput {
	position: relative;
	flex: none;
	margin-bottom: 51px;
	height: 40px;
	font-size: large;
	border: 2px solid rgba(0,0,0,1);
}
.SignIn_SignIn .SignInDisplay .SignInArea .InputArea .PasswordInput .Input_1 {
	font-weight: 400;
}
.SignIn_SignIn .SignInDisplay .ButtonArea {
	position: relative;
	flex: none;
	margin-bottom: 80px;
	width: 354px;
	height: 52px;
	display: flex;
	box-sizing: border-box;
}
.SignIn_SignIn .SignInDisplay .ButtonArea .BackButton {
	position: relative;
	flex: none;
	margin-right: 34px;
	width: 160px;
	height: 52px;
	display: flex;
	padding-top: 14px;
	padding-right: 24px;
	padding-bottom: 14px;
	padding-left: 24px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	background: rgba(120,222,159,1.00);
	border-radius: 8px;
}
.SignIn_SignIn .SignInDisplay .ButtonArea .BackButton .Back {
	position: relative;
	flex: none;
	margin-right: 8px;
	width: 38px;
	height: 24px;
	display: flex;
	align-items: center;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
}
.SignIn_SignIn .SignInDisplay .ButtonArea .SignInButton {
	position: relative;
	flex: none;
	margin-right: 34px;
	width: 160px;
	height: 52px;
	display: flex;
	padding-top: 14px;
	padding-right: 24px;
	padding-bottom: 14px;
	padding-left: 24px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	background: rgba(120,222,159,1.00);
	border-radius: 8px;
}
.SignIn_SignIn .SignInDisplay .ButtonArea .SignInButton .SignIn_2 {
	position: relative;
	flex: none;
	margin-right: 8px;
	width: 52px;
	height: 24px;
	display: flex;
	align-items: center;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
}