
.Typedefault_Typedefault {
	width: 66px;
	height: 40px;
	display: flex;
	box-sizing: border-box;
	align-items: center;
	background: rgba(251,251,251,1.00);
	border: 1px solid rgba(239.00000095367432,239.00000095367432,239.00000095367432,1);
	box-sizing: border-box;
}