
.AddShiftPage_AddShiftPage {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(255,255,255,1.00);
}
.AddShiftPage_AddShiftPage .Rectangle1 {
	position: absolute;
	right: 0px;
	top: -9px;
	width: 1440px;
	height: 251px;
	background: rgba(7,53,30,1.00);
}
.AddShiftPage_AddShiftPage .Rectangle2 {
	position: absolute;
	left: 0px;
	top: 1449px;
	width: 1440px;
	height: 251px;
	background: rgba(7,53,30,1.00);
}
.AddShiftPage_AddShiftPage .Frame9 {
	position: absolute;
	left: 616px;
	top: 99px;
	width: 665px;
	height: 20px;
	display: flex;
	box-sizing: border-box;
}
.AddShiftPage_AddShiftPage .Frame9 .Home {
	position: relative;
	flex: none;
	margin-right: 25px;
	width: 75px;
	height: 20px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 25px;
	font-weight: 400;
	line-height: 20px;
}
.AddShiftPage_AddShiftPage .Frame9 .Announcements {
	position: relative;
	flex: none;
	margin-right: 25px;
	width: 233px;
	height: 20px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 25px;
	font-weight: 400;
	line-height: 20px;
}
.AddShiftPage_AddShiftPage .Frame9 .Schedule {
	position: relative;
	flex: none;
	margin-right: 25px;
	width: 134px;
	height: 20px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 25px;
	font-weight: 400;
	line-height: 20px;
}
.AddShiftPage_AddShiftPage .Frame9 .Employees {
	position: relative;
	flex: none;
	margin-right: 25px;
	width: 148px;
	height: 20px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 25px;
	font-weight: 400;
	line-height: 20px;
}
.AddShiftPage_AddShiftPage .AddShift {
	position: absolute;
	left: 50%;
	top: 440px;
	transform: translate(-50%, 0);
	width: 110px;
	height: 20px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 25px;
	font-weight: 400;
	line-height: 20px;
}
.AddShiftPage_AddShiftPage .Screenshot20240326at35932PM2 {
	position: absolute;
	left: 200px;
	top: 0px;
	width: 386px;
	height: 316px;
}
.AddShiftPage_AddShiftPage .Screenshot20240326at35932PM2 .Vector {
	position: absolute;
	left: 114.642822265625px;
	top: 26.3585205078125px;
	width: 42.217539258571485%;
	height: 47.30155558525762%;
}
.AddShiftPage_AddShiftPage .Screenshot20240326at35932PM2 .Vector_1 {
	position: absolute;
	left: 163.29345703125px;
	top: 174.63729858398438px;
	width: 17.012405395507812%;
	height: 5.301770681067358%;
}
.AddShiftPage_AddShiftPage .Screenshot20240326at35932PM2 .Vector_2 {
	position: absolute;
	left: 180.429443359375px;
	top: 196.31304931640625px;
	width: 8.124049586953277%;
	height: 2.5267898281918293%;
}
.AddShiftPage_AddShiftPage .Screenshot20240326at35932PM2 .Vector_3 {
	position: absolute;
	left: 186.960693359375px;
	top: 105.4359130859375px;
	width: 8.654516348567034%;
	height: 15.391582778737515%;
}
.AddShiftPage_AddShiftPage .Screenshot20240326at35932PM2 .Vector_4 {
	position: absolute;
	left: 172.702392578125px;
	top: 106.84036254882812px;
	width: 1.8076390182416056%;
	height: 2.3328240913680838%;
}
.AddShiftPage_AddShiftPage .Screenshot20240326at35932PM2 .Vector_5 {
	position: absolute;
	left: 220.1865234375px;
	top: 128.97402954101562px;
	width: 2.0796249567535874%;
	height: 1.4978307711927197%;
}
.AddShiftPage_AddShiftPage .Screenshot20240326at35932PM2 .Vector_6 {
	position: absolute;
	left: 163.998291015625px;
	top: 128.961669921875px;
	width: 2.0351318497731894%;
	height: 1.4824094651620598%;
}
.AddShiftPage_AddShiftPage .Screenshot20240326at35932PM2 .Vector_7 {
	position: absolute;
	left: 194.0439453125px;
	top: 97.82684326171875px;
	width: 1.1208241467648836%;
	height: 2.6304661473141437%;
}
.AddShiftPage_AddShiftPage .Screenshot20240326at35932PM2 .Vector_8 {
	position: absolute;
	left: 212.48876953125px;
	top: 106.89886474609375px;
	width: 1.811937470510216%;
	height: 2.313817301882973%;
}
.AddShiftPage_AddShiftPage .Screenshot20240326at35932PM2 .S4 {
	position: absolute;
	left: 277.775634765625px;
	top: 154.06405639648438px;
	width: 22.563418452603827%;
	height: 14.9466188648079%;
	color: rgba(255,255,255,1.00);
	font-family: Jacques Francois;
	font-size: 40px;
	font-weight: 400;
	line-height: 30px;
}
.AddShiftPage_AddShiftPage ._00Button {
	position: absolute;
	left: 160px;
	top: 407px;
	width: 160px;
	height: 52px;
	display: flex;
	padding-top: 14px;
	padding-right: 24px;
	padding-bottom: 14px;
	padding-left: 24px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	background: rgba(120,222,159,1.00);
	border-radius: 8px;
}
.AddShiftPage_AddShiftPage ._00Button .Back {
	position: relative;
	flex: none;
	margin-right: 8px;
	width: 38px;
	height: 24px;
	display: flex;
	align-items: center;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
}
.AddShiftPage_AddShiftPage .Frame1000007421 {
	position: absolute;
	left: 255px;
	top: 542px;
	width: 520px;
	height: 308px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.AddShiftPage_AddShiftPage .Frame1000007421 .Frame1000007406 {
	position: relative;
	flex: none;
	margin-bottom: 58px;
	width: 520px;
	height: 198px;
	display: flex;
	box-sizing: border-box;
	align-items: center;
}
.AddShiftPage_AddShiftPage .Frame1000007421 .Frame1000007406 .Frame16 {
	position: relative;
	flex: none;
	margin-right: 27px;
	width: 85px;
	height: 174px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.AddShiftPage_AddShiftPage .Frame1000007421 .Frame1000007406 .Frame16 .Employee {
	position: relative;
	flex: none;
	margin-bottom: 51px;
	width: 80px;
	height: 24px;
	display: flex;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
}
.AddShiftPage_AddShiftPage .Frame1000007421 .Frame1000007406 .Frame16 .StartTime {
	position: relative;
	flex: none;
	margin-bottom: 51px;
	width: 85px;
	height: 24px;
	display: flex;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
}
.AddShiftPage_AddShiftPage .Frame1000007421 .Frame1000007406 .Frame16 .EndTime {
	position: relative;
	flex: none;
	margin-bottom: 51px;
	width: 76px;
	height: 24px;
	display: flex;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
}
.AddShiftPage_AddShiftPage .Frame1000007421 .Frame1000007406 .Frame1000007405 {
	position: relative;
	flex: none;
	margin-right: 27px;
	width: 408px;
	height: 198px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.AddShiftPage_AddShiftPage .Frame1000007421 .Frame1000007406 .Frame1000007405 ._04Dropdown {
	position: relative;
	flex: none;
	margin-bottom: 29px;
	width: 208px;
	height: 40px;
	display: flex;
	padding-top: 8px;
	padding-right: 16px;
	padding-bottom: 8px;
	padding-left: 16px;
	box-sizing: border-box;
	align-items: center;
	background: rgba(120,222,159,1.00);
	border-radius: 8px;
	border: 1px solid rgba(224.000001847744,224.000001847744,224.000001847744,1);
	box-sizing: border-box;
}
.AddShiftPage_AddShiftPage .Frame1000007421 .Frame1000007406 .Frame1000007405 ._04Dropdown .Label {
	position: relative;
	flex: none;
	margin-right: 16px;
	width: 136px;
	height: 24px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.AddShiftPage_AddShiftPage .Frame1000007421 .Frame1000007406 .Frame1000007405 ._04Dropdown .chevrondown {
	position: relative;
	flex: none;
	margin-right: 16px;
	width: 24px;
	height: 24px;
}
.AddShiftPage_AddShiftPage .Frame1000007421 .Frame1000007406 .Frame1000007405 ._04Dropdown .chevrondown .Vector_9 {
	position: absolute;
	left: 6px;
	top: 9px;
	width: 50%;
	height: 25%;
}
.AddShiftPage_AddShiftPage .Frame1000007421 .Frame1000007406 .Frame1000007405 .Frame1 {
	position: relative;
	flex: none;
	margin-bottom: 29px;
	border: 2px solid rgba(0,0,0,1);
}
.AddShiftPage_AddShiftPage .Frame1000007421 .Frame1000007406 .Frame1000007405 .Frame1 .Input {
	font-weight: 400;
}
.AddShiftPage_AddShiftPage .Frame1000007421 .Frame1000007406 .Frame1000007405 .Frame1_1 {
	position: relative;
	flex: none;
	margin-bottom: 29px;
	border: 2px solid rgba(0,0,0,1);
}
.AddShiftPage_AddShiftPage .Frame1000007421 .Frame1000007406 .Frame1000007405 .Frame1_1 .Input_1 {
	font-weight: 400;
}
.AddShiftPage_AddShiftPage .Frame1000007421 ._00Button_1 {
	position: relative;
	flex: none;
	margin-bottom: 58px;
	width: 160px;
	height: 52px;
	display: flex;
	padding-top: 14px;
	padding-right: 24px;
	padding-bottom: 14px;
	padding-left: 24px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	background: rgba(120,222,159,1.00);
	border-radius: 8px;
}
.AddShiftPage_AddShiftPage .Frame1000007421 ._00Button_1 .Add {
	position: relative;
	flex: none;
	margin-right: 8px;
	width: 32px;
	height: 24px;
	display: flex;
	align-items: center;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
}